<div class="col-md-3"></div>
<div class="col-md-6">
    <form class="form-horizontal" style="margin-top: -40px; padding-bottom: 40px;">
        <fieldset>
            <legend>Panel rejestracji</legend>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Nick</label>
                <div class="col-lg-10">
                    <input class="form-control" id="name" placeholder="Nick" type="text" ng-model="newUser.firstName">
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputEmail" placeholder="Email" type="text"
                           ng-model="newUser.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Hasło</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputPassword" placeholder="Hasło" type="password"
                           ng-model="newUser.password">
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" ng-click="zarejestruj()">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-md-3"></div>
<div class="copy">
    <div class="col-md-6">
        <p>© 2017 Wiki-Farmer. Realizacja Giacomo Goraj</p>
    </div>
</div>
